::selection{
  color: #2a2a2a;
  background: white;
  opacity: 0.01;
}
a:active, a:visited, a:link{
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

body{
  background: local #19191b url(op1fon.png) center no-repeat;
  background-size: cover;
  color: white;
  margin: 0px;
  weight:100%;
  height:100%;
}
.datamonth{
  font-size: 18px;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: -5px;
}
p{
  font-family: 'PT Sans', sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  Ñolor: #454648;
}
.mainheader{
  background: #2a2a2a;
  color: white;
  padding: 8px;
  margin-bottom: 0;
}
.mainheader > p{
  margin-bottom: 2px;
  margin-left: 20px;
}
hr{
  margin-bottom: 16px;
}
.month{
  margin-bottom: 30px;
}
.main{
  margin: 30px;
}
.time{
  margin-top: -30px;
  text-align: right;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.popup{
  background: transparent;
  border-radius: 5px;
  color: #19191b;
  padding:10px;
  width: 150px;
  height: 20px;
  margin-bottom: -70px;
  margin-left: 30px;
  margin-top: 0px;
  text-align: center;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
.popup:hover{
  border: 1px solid white;
  color: white;
}
.bold{
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}
#nine{
  position: relative;
  margin-left: 100px;
}
.bit, .uzzaw{
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
  margin-left: 30px;
  opacity: 0.7;
}
.bit > a, .uzzaw > a{
  font-weight: 400;
}
